<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <meta charset = "utf-8">
        <meta name="viewport" content="width=device-width", "initial-scale=1">
        <title>Home Page</title>
    </head>
    <body>
        <header>
        </header>
        <div class="row">
            <div class="column1">
                <nav>
                    <ul>
                        <li><a href="#home">Home</a></li>
                        <li><a href="#database">Database</a></li>
                        <li><a href="#visualization">Visualization</a></li>
                    </ul>
                </nav>
            </div>
            <div class="column2">
                <div class="title">Twitter Sentiment Analysis</div>     
                <div class="center">
                    <form method="post">
                        <div><input type="text" id="query" name="q" placeholder="Enter query.."> </input></div>
                        <div><input type="text" id="number" name="n" placeholder="Enter a number.."> </input></div>
                        <div><button class="button"> <a href="/submit_button/"> Search </a></button></div>
                    </form>
                </div>
            </div>
            <div class="column3">
                <div class="title2">History</div>     
                <div class="center">
                </div>
                </div>
            </div>
        </div>
    </body>
    </html>
</html>